.wrapper {
  padding: 8px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  position: relative;

  .name {
    margin: 0;
  }

  .place {
    font-size: 22px;
    margin-bottom: 6px;
  }
}
