.button {
  text-decoration: none;
  display: inline-block;
  background: transparent;
  position: relative;
  padding: 10px 20px;
  border: none;
  border-radius: var(--control-radius);
  cursor: pointer;
  outline: none;
  font-family: var(--font-family);
}

/* sizes */

.size-xs {
  font-size: 14px;
  line-height: 16px;
  padding: 8px 16px;

  &.outlined {
    padding: 7px 15px;
  }
}

.size-s {
  font-size: 14px;
  line-height: 16px;
  padding: 10px 16px;

  &.outlined {
    padding: 9px 15px;
  }
}

.size-m {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 20px;

  &.outlined {
    padding: 9px 19px;
  }
}

.size-l {
  font-size: 20px;
  line-height: 22px;
  padding: 16px 32px;

  &.outlined {
    padding: 15px 31px;
  }
}

/* loading */

.loading,
.loading:hover {
  background: var(--color-bondi-blue-dark);
}

.loading .content {
  visibility: hidden;
}

.loading .loader {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

/* contained */

.contained {
  transition: background-color 0.1s ease-out;
  background: var(--color-accent);
  color: var(--color-black);
}

[data-using-keyboard] .contained:focus {
  box-shadow: 0 0 0 2px var(--color-cold-gray-light);
}

.contained:hover,
.contained.active {
  background: var(--color-accent-hover);
}

.contained.disabled,
.contained.disabled:hover,
.contained.loading,
.contained.loading:hover {
  background: var(--color-cold-gray-dark);
  cursor: default;
}

/* outlined */

.outlined {
  background: transparent;
  transition: border-color 0.1s ease-out;
  border: 1px solid var(--color-cold-gray-light);
  color: var(--color-black-60);
}

.outlined.disabled,
.outlined.disabled:hover {
  border-color: transparent;
  background: var(--color-cold-gray-ultralight);
}

[data-using-keyboard] .outlined:focus {
  background: var(--color-cold-gray-ultralight);
  border-color: var(--color-cold-gray-dark);
}

.outlined:hover,
.outlined.active {
  background: transparent;
  border-color: var(--color-cold-gray-dark);
}

.outlined.disabled,
.outlined.disabled:hover,
.outlined.loading,
.outlined.loading:hover {
  color: var(--color-cold-gray-dark);
  border-color: transparent;
  background: var(--color-cold-gray-ultralight);
  cursor: default;
}

.outlined.loading,
.outlined.loading:hover {
  color: var(--color-blue-steel);
}

/* ghost */

.ghost {
  transition: background-color 0.1s ease-out, color 0.1s ease-out;
  background: transparent;
  color: var(--color-blue-steel);
}

[data-using-keyboard] .ghost:focus {
  background: var(--color-cold-gray-ultralight);
}

.ghost:hover,
.ghost.active {
  background: var(--color-cold-gray-light);
  color: var(--color-black);
}

.ghost.disabled,
.ghost.disabled:hover,
.ghost.loading,
.ghost.loading:hover {
  color: var(--color-cold-gray-light);
  background: transparent;
  cursor: default;
}

.ghost.loading,
.ghost.loading:hover {
  color: var(--color-blue-steel);
}

/* selected */

.selected,
.selected:hover,
.selected.disabled,
.selected.disabled:hover,
[data-using-keyboard] .selected:focus {
  cursor: default;
  border-color: transparent;
  background: var(--color-black-60);
  color: var(--color-white);
}
