.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background: var(--color-white);
}

.sticky {
  height: 100%;
}

.loader {
  position: absolute;
  margin: -12px;
  top: 50%;
  left: 50%;
}
