.header {
  z-index: var(--z-index-Header);
  display: flex;
  flex-direction: row;
  padding: 0 24px;
  min-height: 56px;
  align-items: center;
  background: var(--color-accent);
  height: var(--height-Header);
}

.container {
  padding: 0;
  z-index: var(--z-index-Header);
}

.userInfo {
  font-size: 12px;
  margin-left: auto;
  text-align: right;
  color: var(--color-black-60);
  line-height: normal;

  .name {
    font-weight: bold;
  }

  .count {
    font-weight: bold;
  }
}
