td {
  padding: 5px 10px;

  @media (max-width: 475px) {
    padding: 0 5px;
  }
}

.name {
  text-align: left;
}

.status {
  border-radius: 4px;
  color: var(--color-accent-dark-hard);
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent-hover);

  &.maybe {
    color: var(--color-orange-status-dark-hard);
    background-color: var(--color-orange-status);
    border: 1px solid var(--color-orange-status-dark);
  }
}

.maybeIcon {
  fill: var(--color-orange-light);
}

.trueIcon {
  fill: var(--color-green);
}
