.wrapper {
  position: relative;
}

.table {
  background-color: var(--color-cold-gray-table);
  border-radius: 10px;
  text-align: center;
  border-spacing: 20px 10px;
  width: 100%;

  .name {
    text-align: left;
  }

  @media (max-width: 475px) {
    font-size: 14px;
    border-spacing: 5px;
  }
}
