$label-state: translateY(-30px) scale(0.667);
$placeholder-state: scale(1) translateY(0);

$label-state-width: 149.9%;
$placeholder-state-width: 100%;

.wrapper {
  padding-top: 2px;
  position: relative;
  font-family: var(--font-family);
  color: var(--color-black);
  display: inline-flex;
}

.labeled {
  padding-top: 22px;
}

.input {
  font-family: var(--font-family);
  box-sizing: border-box;
  padding: 5px 0;
  border: none;
  border-bottom: 2px solid var(--color-cold-gray-light);
  background: transparent;
  font-size: 18px;
  line-height: 24px;
  outline: none;
  color: var(--color-black);
  flex-grow: 1;
  transition: border-color 0.1s ease-out;
  width: auto;
}

.input:focus,
.active .input {
  border-color: var(--color-accent-dark);
}

.title {
  font-size: 18px;
  line-height: 24px;
  position: absolute;
  left: 0;
  top: 27px;
  color: var(--color-black-60);
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input {
  & + .title {
    transform: $label-state;
    transform-origin: 0% 100%;
    transition: transform 0.1s ease-out, max-width 0.1s ease-out;
    max-width: $label-state-width;
  }

  &:not(:focus):placeholder-shown + .title {
    transform: $placeholder-state;
    max-width: $placeholder-state-width;
  }

  &:focus,
  &:-webkit-autofill {
    & + .title {
      transform: $label-state;
      max-width: $label-state-width;
    }
  }

  &:-webkit-autofill + .title {
    transition: none;
  }
}

input::placeholder {
  color: var(--color-black-60);
}

input:disabled {
  border-color: var(--color-cold-gray-light);
  color: var(--color-black-60);
}

.error .input {
  &,
  &:placeholder-shown {
    border-color: var(--color-cold-amaranth);

    & + .title {
      transform: $label-state;
      max-width: $label-state-width;
      color: var(--color-cold-amaranth);
    }
  }
}

textarea.input {
  resize: vertical;
  min-height: 3.6em;
}

.with-left-decorator {
  .input {
    padding-left: 32px;
  }

  .title {
    margin-left: 32px;
  }
}

.with-right-decorator {
  .input {
    padding-right: 32px;
  }

  .title {
    margin-right: 32px;
  }
}

.with-left-decorator,
.with-right-decorator {
  .input:not(:focus):placeholder-shown + .title {
    max-width: calc(100% - 32px);
  }
}
