.settingsWr {
  button {
    margin-right: 24px;

    &:last-child {
      margin: 0;
    }
  }
}

.form {
  margin-top: 16px;
  max-width: 400px;
  box-shadow: var(--shadow-l);
  position: relative;
}

.closeIcon {
  position: absolute;
  right: 10px;
  top: 10px;
}

.input {
  width: 100%;
}

.friends {
  margin-top: 16px;

  .friendMaybe {
    background-color: var(--color-orange-light);
  }

  .friendTrue {
    background-color: var(--color-accent);
  }
}

.addFriendButton {
  margin: 24px 24px 0 0;
}

.createButton {
  margin-top: 24px;
}
