// colors

:root {
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;

  --color-primary: #002a42;
  --color-primary-hover: #193f55;

  --color-background: #f2f8fe;

  --color-accent: #d4edda;
  --color-accent-hover: #c3e6cb;
  --color-accent-dark: #00b161;
  --color-accent-dark-hard: #155724;

  --color-warning: #ff536a;
  --color-warning-hover: #ff7588;

  --color-highlight: #ed9661;
  --color-highlight-hover: #f1ab81;

  --color-white: #ffffff;

  --color-green: #7cf0bd;
  --color-green-ultralight: #f2fff9;

  --color-black-60: #667f8e;
  --color-black: #002a42;

  --color-blue: #528cc7;
  --color-blue-steel: #5892b6;

  --color-bondi-blue-normal: #0eb9c3;
  --color-bondi-blue-dark: #009aa6;

  --color-cold-gray-table: #aaa1;
  --color-cold-gray-ultralight: #f2f8fe;
  --color-cold-gray-light: #dfe9f1;
  --color-cold-gray-dark: #b9cddc;
  --color-cold-amaranth: #ff536a;

  --color-table-border: #e1e9f0;

  --color-orange-gray: #fefaf6;
  --color-orange-light: #f1b860;
  --color-orange: #ed9661;
  --color-orange-dark: #e17d35;
  --color-orange-status: #fff3cd;
  --color-orange-status-dark: #ffeeba;
  --color-orange-status-dark-hard: #856404;

  --color-shadow: #296b9b;
  --color-shadow-l: rgba(41, 107, 155, 0.1);
  --color-shadow-d: rgba(41, 107, 155, 0.2);

  // radius
  --control-radius: 4px;

  // fonts
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;

  // shadow
  --shadow-s: 0 2px 2px 0 var(--color-shadow-l);
  --shadow-m: 0 2px 4px 0 var(--color-shadow-d);
  --shadow-l: 0 8px 16px 0 var(--color-shadow-d);
  --shadow-drawer: 2px 0 2px 0 var(--color-shadow-l);
  --shadow-modal: 0 8px 16px 0 var(--color-shadow-d);
  --shadow-table-header: 0 1px 0 0 var(--color-shadow-l);
  --shadow-range-thumb: 0 0 0 6px var(--color-shadow-l);

  --z-index-RelativeModal: 1;
  --z-index-tableHeader: 2;
  --z-index-modal: 3;
  --z-index-modal-root: 4;
  --z-index-Header: 6;

  --height-Header: 56px;
}
